<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Mi Sitio{% endblock %}</title>
<link rel="stylesheet" href="{% static 'styless/css.css' %}">
</head>
<body>
<header><h1>Bienvenido a mi página web, Toma un descanso.</h1></header>
<img src="{% static 'images/thumb-1920-380196.png' %}" alt="Logo" width="1200" height="600" class="imagen-sombra-interior">
<main>
{% block content %}{% endblock %}
</main>
</body>
</html>